$background: #1e8080;

.home {
    width: 320px;
    margin: 4rem auto 0;
    padding: 1rem;
    border-radius: 2px;
    background-color: $background;
    color: white;
    text-align: center;

    ul {
        text-align: left;

        li {
            padding: 8px;
        }
    }
}